<%= turbo_frame_tag "friends_table" do %>
  <% if !@friends.empty? %>
    <div class="row">
      <div class="col-9">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th> Full Name </th>
              <th> Email </th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <% friends.each do |friend| %>
              <tr>
                <td> <%= friend.full_name %> </td>
                <td> <%= friend.email %> </td>
                <td>
                  <%= link_to 'Stop Following',
                      remove_friend_path(friend: friend),
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      },
                      class: 'btn btn-sm btn-warning' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
