.navbar {
  background-color: #fdf3ea !important;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.stock-card {
  margin-top: 10px;
  max-width: max-content;
  display: inline-block;
}
